body {
    background-image: url("https://www.itl.cat/pngfile/big/85-851231_plain-plain-wallpaper-for-phone.jpg");
    width: 100%;
    background-size: cover;
}

.img-fluid {
    clip-path: circle(40% at 50% 50%)
}